.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ff8c00;
}

.company-name {
    margin: 0;
}

.menu {
    margin: 5px 10px 0 0;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-left: 10px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: darkorange;
    padding: 10px;
}

.nav-item:first-child {
    border-right: 1px solid #000;
}
