.input {
    display: block;
    margin-bottom: 15px;
    width: 500px;
    height: 30px;
    padding: 0 10px;
}

.save {
    width: 100px;
    height: 30px;
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
