.add-block {
    display: flex;
    justify-content: space-between;
}

.dishes-title {
    font-size: 25px;
    margin-left: 20px;
}

.add-dish {
    display: block;
    width: 120px;
    height: 40px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    color: #ff8c00;
    text-align: center;
    line-height: 32px;
    margin: 20px 30px 0 0;
}

.dish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.dish-image {
    width: 150px;
    height: 100px;
}

.dish-name {
    font-size: 20px;
    text-transform: capitalize;
}

.dish-price {
    font-size: 20px;
}

.btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.edit {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}


